.webchat-app {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.webchat-app .btn-togle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.webchat-card {
  margin-bottom: 10px;
  width: 350px;
}

.webchat-app .webchat-head {
  display: flex;
  justify-content: space-between;
  background-color: #0d6efd;
  padding: 20px;
  color: white;
  /* align-items: center; */
}

.webchat-app .webchat-body-text {
  overflow-y: scroll;
  height: 100%;
  max-height: 280px;
  padding-bottom: 20px;
}

.webchat-app .close-toggle {
  font-size: 20px;
  cursor: pointer;
}

.webchat-app .webchat-body {
  padding: 20px;
  min-height: 370px;
  width: 100%;
  position: relative;
}

.webchat-app .webchat-input {
  width: 89%;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
